/* Reset + Font*/
*{
    margin: unset;
    font-family: 'Raleway';
    padding: unset;
}
a{
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
body{
    max-width: 1400px;
    font-weight: 400;
}

/* COLOR */
.Blue{
    color: #0065FC;
}
.BlueBG{
    background-color: #0065FC;
}
.LightBlue{
    color: #DEEBFF;
}
.LightBlueBG{
    background-color: #DEEBFF;
}
.Grey{
    color: #d9d9d9;
}
.GreyBG{
    background-color: #d9d9d9;
}
.LightGrey{
    color: #F2F2F2;
}
.LightGreyBG{
    background-color: #F2F2F2;
}

/* HEADER*/
header.Logo{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 4rem;
    margin: 1rem;
}
ul.LogoNav{
    list-style-type: none;
    display: flex;
}
li.LogoNav{
    min-width: 10rem;
    text-align: center;
    padding: 1.5rem;
}
li.LogoNav:hover{
    border-top: #0065FC 3px solid;
    padding-top: 1.313rem;
}
a.LogoNav:hover{
    color: #0065FC;
}


/* LOCATION */
section.Location{
    margin-top: 15rem;
}

form.Location{
    overflow: visible;
}
h3.location{
    font-weight: 700;
    margin-top: 15rem;
}


div.Location{
    display: inline-flex;
}


p.Location{
    margin-top: 10px;
    margin-bottom: 15px;
}

form.Location{
    display: flex;
    width: 100%;
    overflow: auto;
}

span.Location{
    background-color: #f2f2f2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

input.Location{
    border: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
}

button.Location {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 1.5rem 1.5rem 0;
    padding: 0 1.5rem;
    cursor: pointer;
}

i.LocationButton{
    display: none;
}


/* Filtres */

menu.Filtres{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 6rem;
} 

li.Filtres{
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 15px;
    border-radius: 40px;
    padding: 10px;
    padding-top: 15px;
    border: #d9d9d9 1px solid;
    min-width: 11rem;
}
a.Filtres{
    display: flex;
}

strong.Filtres{
    font-size: xx-large;
    font-weight: 800;
    margin-top: -10px;
}

menu a:hover{
    background-color: #deebff;
}

/* Infobulle */

span.RechercheResult{
    display: flex;
}

div.RechercheResult{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

h3.RechercheResult{
    display: inline;
}

/* Main */

main{
    display: flex;
}

section.Hebergements{
    background-color: #d9d9d9;
    border-radius: 40px;
    padding: 2vw;
    width: 60vw;
    max-width: 800px;
}

section.Populaires{
    grid-column: 4;
    background-color: #d9d9d9;
    margin-left: 40px;
    border-radius: 40px;
    width: 40vw;
    padding-top: 35px;
}

/* Hebergements */

h3.Hebergements{
    margin-bottom: 25px;
    font-weight: 700;
    margin-top: 15px;
}


div.Hebergements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 25px;
}


article.Hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    margin: 1vw;
    padding: 0px;
    height: max-content;
    min-width: 5vw;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    min-height: 240px;
}

img.Hebergements{
    border-radius: 25px 25px 0px 0px;
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
}

p.Hebergements{
    margin: 0px;
}

footer.Hebergements{
    padding-left: 5px;
    padding-bottom: 10px;
}

/* Populaires */

h3.PopulairesTitre{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

div.Populaires{
    display: flex;
    flex-direction: column;
    
}

p.Populaires{
    margin-bottom: 20px;
    margin-top: unset;
    padding-right: 3px;
}

article.Populaires{
    background-color: white;
    border-radius: 25px;
    margin: 1.25rem;
    padding: 0px;
    height: 150px;
    display: flex;
    object-fit: cover;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

aside.Populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

img.Populaires{
    border-radius: 25px 0 0 25px;
    width: 40%;
    object-fit: cover;
    margin-right: 2vw;
}

/* ACTIVITES */

h3.Activites{
    margin: 0px;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 15px;
}

div.Activites{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 2rem;
    margin: 4rem 0;
}

article.Activites{
    width: 20vw;
    object-fit: cover;
    min-width: 190px;
}

img.Activites{
    border-radius: 25px 25px 0px 0px;
    height: 23rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
}

footer.Activites{
    padding-bottom: 15px;
    background-color: white;
    margin-top: -5px;
    padding-top: 15px;
    padding-left: 5px;
    border-radius: 0px 0px 25px 25px;
    font-weight: 700;
    box-shadow:  0px 0px 5px 5px #F2F2F2;
    min-height: 40px;
}

/* FIN */

footer.Fin{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px;
    background-color: #F2F2F2;
}

section.Fin{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 45px;
}

h3.Fin{
    margin-bottom: 25px;
}

a.Fin{
    margin-bottom: 15px;
}

/* MEDIA QUERIES */
/** TABLETTES **/

@media (768px <= width <= 992px ) { 
    
main{
    flex-direction: column;
} 

section.Hebergements {
    width: 85vw;
    margin-bottom: 50px;
}

section.Populaires {
    background-color: #d9d9d9;
    margin-left: 0px;
    width: 90vw;
}

div.Populaires{
    flex-direction: row;
}

article.Populaires{
    height: fit-content;
    min-height: 185px;
}
aside.Populaires{
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.Populaires{
    margin-right: 0px;
}

p.Populaires{
    margin-top: 0px;
}

}

/** PHONES **/
@media (width <= 768px ) {   
    
/* GLOBAL */
body{
    margin-left: unset;
    margin-right: unset;
    max-width: 768px;
    font-weight: 400;
}

/* HEADER */
header.Logo{
    flex-direction: column;
    text-align: center;
    margin-bottom: unset;
}
nav.Logo{
    width: 100%;
}
a.Logo:hover{
    border-top: unset;
    padding-top: unset;
}
ul.LogoNav{
    padding: unset;
    padding-top: 45px;
}
li.LogoNav{
    width: 50%;
    padding: 0px;
    padding-bottom: 1rem;
    margin-bottom: 1.75rem;
}
li.LogoNav:hover{
    border-bottom: #0065FC 3px solid;
}

/* LOCATION */
section.Location{
    margin-left: 1rem;
    margin-right: 1rem;
}
article.Location{
    width: unset;
}
input.Location{
    max-width: 15rem;
    font-weight: 700;
    font-size: 1rem;
    color: black;
}
input.Location::placeholder{
    font-weight: 700;
    font-size: 1rem;
    color: black;
}
p.Location{
    margin-top: 15px;    
}
form.Location{
    padding: unset;
    margin-top: 35px;
    overflow: visible;
}
span.LocationButton{
    display: none;
}
i.LocationButton{
    display: inline;
}

/* FILTRES */
strong.Filtres{
    margin: 0.75rem;
}
menu.Filtres{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 1.5rem;
    column-gap: 1rem;
    margin: 0.5rem;
}
li.Filtres{
    flex: 2 auto;
    width: calc(35% - 0.5rem);
    vertical-align: middle;
}
a.Filtres{
    display: block;
    margin: unset;
    padding: 0.50rem;
    min-width: unset;
    width: 85%;
    font-weight: 700;
}
i.Filtres{
    font-size: 1rem;
    vertical-align: middle;
}
h4.Filtres{
    display: inline-block;
    font-size: 700;
    font-size: calc(0.66rem);
    margin-left: 0.25rem;
    vertical-align: middle;
}
p.Filtres{
    margin: unset;
    margin-top: 3rem;
}

/* RESULTATS RECHERCHE */
div.RechercheResult{
    margin-top: 1rem;
    display: inline;
}

/* MAIN */
main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-flow: column-reverse;
}

/* Populaires */
section.Populaires{
    margin: unset;
    margin-top: 1.25rem;
    padding: unset;
    border-radius: unset;
    width: 100%;
}
h4.Populaires{
    margin-bottom: 0.25rem;
}
h3.PopulairesTitre{
    margin: unset;
    padding: unset;
}
div.PopulairesTitre{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
i.PopulairesTitre{
    border-bottom: #0065FC 2px solid;
    border-left: #0065FC 2px solid;
    border-radius: 2px;
    color: #0065FC;
}

/* HEBERGEMENTS */
section.Hebergements{
    margin: unset;
    margin-top: 1.25rem;
    padding: unset;
    border-radius: unset;
    width: 100%;
    background-color: unset;
}
div.Hebergements{
    display: flex;
    flex-direction: column;
    margin-left: 0.50rem;
}
h3.Hebergements{
    margin-left: 1rem;
}
h4.Hebergements{
    margin-bottom: 0.50rem;
    margin-top: 0.75rem;
}
a.Hebergements{
    margin: 1.25rem;
}
article.Hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: unset;
}
footer.Hebergements{
    margin-left: 0.50rem;
}
#More{
    display: none;
}

/* ACTIVITES */
div.Activites{
    display: flex;
    flex-direction: column;
    margin: unset;
}
a.Activites{
    margin: 1rem;
}
article.Activites{
    width: unset;
    margin: unset;
}
img.Activites{
    height: 8rem;
    margin-bottom: -0.25rem;
}
footer.Activites{
    margin: unset;
    padding: unset;
    padding-left: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    min-height: unset;
}

/* FIN */
footer.Fin{
    display: flex;
    flex-direction: column;
}
section.Fin{
    margin-top: unset;
    height: unset;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
}

}