/* Reset Margin + Policy*/
/*Global Margin*/

*{
    margin: 0;
    font-family: 'Raleway';
}

a{
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.Note{
    max-width: 15px;
    max-height: 15px;
}

body{
    margin-left: 55px;
    margin-right: 55px;
    max-width: 1300px;
    font-weight: 400;
}

/* HEADER*/

header.Logo{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 68px;

}

header img{
    width: 62px;
    height: 19px;
    margin-top: 45px;
}

ul.Logo{
    list-style-type: none;
    display: flex;
    padding: 45px;
}

a.Logo{
    padding-left: 25px;
    padding-right: 25px;
}

a.Logo:hover{
    color: #0065FC;
    border-top: #0065FC 3px solid;
    padding-top: 43px;
}



/* LOCATION */

h3{
    font-weight: 700;
}

section.Location{
    margin-bottom: 35px;
}

div.Location{
    display: inline-flex;
}


p.Location{
    margin-top: 10px;
    margin-bottom: 15px;
}

form.Location{
    display: flex;
    width: 100%;
    overflow: auto;
}

span.Location{
    background-color: #f2f2f2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

input.Location{
    border: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
}

button.Location {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    cursor: pointer;
}

i.LocationButton{
    display: none;
}


/* Filtres */

menu.Filtres{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-top: 30px;
} 

menu a{
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 15px;
    border-radius: 40px;
    padding: 10px;
    padding-top: 15px;
    border: #d9d9d9 1px solid;
    min-width: 11rem;
}

strong.Filtres{
    font-size: xx-large;
    font-weight: 800;
    margin-top: -10px;
}

menu a:hover{
    background-color: #deebff;
}

/* Infobulle */
p{
    margin-top: 50px;
    display: flex;
}

p svg{
    height: 12px;
    width: 5px;
    border-radius: 100%;
    border: #777777 1px solid;
    padding: 7px 10px;
    margin-right: 10px;
    margin-top: -5px;
}

/* Main */

main{
    display: flex;
}

section.Hebergements{
    background-color: #d9d9d9;
    border-radius: 40px;
    padding: 2vw;
    width: 60vw;
    max-width: 800px;
}

section.Populaires{
    grid-column: 4;
    background-color: #d9d9d9;
    margin-left: 40px;
    border-radius: 40px;
    width: 40vw;
    padding-top: 35px;
}

/* Hebergements */

h3.Hebergements{
    margin-bottom: 25px;
    font-weight: 700;
    margin-top: 15px;
}


div.Hebergements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 25px;
}


article.Hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    margin: 1vw;
    padding: 0px;
    height: max-content;
    min-width: 5vw;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    min-height: 240px;
}

img.Hebergements{
    border-radius: 25px 25px 0px 0px;
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
}

p.Hebergements{
    margin: 0px;
}

footer.Hebergements{
    padding-left: 5px;
    padding-bottom: 10px;
}

/* Populaires */

h3.PopulairesTitre{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

div.Populaires{
    display: flex;
    flex-direction: column;
    
}

p.Populaires{
    margin-bottom: 20px;
    margin-top: unset;
    padding-right: 3px;
}

article.Populaires{
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    padding: 0px;
    height: 150px;
    width: 85%;
    display: flex;
    object-fit: cover;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    min-height: 125px;
}

aside.Populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

img.Populaires{
    border-radius: 25px 0 0 25px;
    width: 40%;
    object-fit: cover;
    margin-right: 2vw;
}

/* ACTIVITES */

h3.Activites{
    margin: 0px;
    padding: 0px;
    margin-top: 35px;
    margin-bottom: 15px;
}

div.Activites{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 2rem;
    margin: 4rem 0;
}

article.Activites{
    width: 20vw;
    object-fit: cover;
    min-width: 190px;
}

img.Activites{
    border-radius: 25px 25px 0px 0px;
    height: 23rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
}

footer.Activites{
    padding-bottom: 15px;
    background-color: white;
    margin-top: -5px;
    padding-top: 15px;
    padding-left: 5px;
    border-radius: 0px 0px 25px 25px;
    font-weight: 700;
    box-shadow:  0px 0px 5px 5px #F2F2F2;
    min-height: 40px;
}

/* FIN */

footer.Fin{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px;
    background-color: #F2F2F2;
}

section.Fin{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 45px;
}

h3.Fin{
    margin-bottom: 25px;
}

a.Fin{
    margin-bottom: 15px;
}

/* MEDIA QUERIES */
/** TABLETTES **/

@media (768px <= width <= 992px ) { 
    
main{
    flex-direction: column;
} 

section.Hebergements {
    width: 85vw;
    margin-bottom: 50px;
}

section.Populaires {
    background-color: #d9d9d9;
    margin-left: 0px;
    width: 90vw;
}

div.Populaires{
    flex-direction: row;
}

article.Populaires{
    height: fit-content;
    min-height: 185px;
}
aside.Populaires{
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.Populaires{
    margin-right: 0px;
}

p.Populaires{
    margin-top: 0px;
}

}

/** PHONES **/

@media (width <= 768px ) {

    
body{
    margin-left: unset;
    margin-right: unset;
    max-width: 768px;
    font-weight: 400;
}

/* HEADER */

header.Logo{
    flex-direction: column;
    text-align: center;
    margin-bottom: unset;
}

nav.Logo{
    width: 100%;
}

a.Logo:hover{
    border-top: unset;
    padding-top: unset;
}

ul.Logo{
    padding: unset;
    padding-top: 45px;
}

li.Logo{
    width: 50%;
    padding: 0px;
    padding-bottom: 1rem;
    margin-bottom: 1.75rem;
}

li.Logo:hover{
    border-bottom: #0065FC 3px solid;
}

/* LOCATION */

section.Location{
    margin-left: 1rem;
    margin-right: 1rem;
}

article.Location{
    width: unset;
}

input.Location{
    width: 20rem;
    font-weight: 700;
    font-size: 1rem;
    color: black;
}

input.Location::placeholder{
    font-weight: 700;
    font-size: 1rem;
    color: black;
}

p.Location{
    margin-top: 15px;    
}

form.Location{
    padding: unset;
    margin-top: 35px;
}

span.LocationButton{
    display: none;
}

i.LocationButton{
    display: inline;
}
}

/* FILTRES */